// Colors

$color-background: #ddd;

$color-white: #fff;
$color-black: #111;
$color-grey: #8d8791;

// Font

$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem; // Standard is 1140px rows
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
