a, a:visited {
    color: $color-black;
    text-decoration: none;
}

.grouping:before,
.grouping:after {
    content: " ";
    display: table;
} .grouping:after {
    clear: both;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.block {
    display: block;
}

/**********
Basic Styles
**********/
body {
    box-sizing: border-box;
    background-color: $color-background;
}
.wrapper {
    margin: 0 auto;
    max-width: 96rem;
    width: 90%;
}

/**********
Content
**********/
.intro-content {
    padding-bottom: 8rem;
    margin-top: 3rem;
}
