h1 {
    font-weight: 700;
    font-size: 8rem;
    margin-bottom: 1rem;
    font-style: normal;
}
h2 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-style: italic;
}
p {
    line-height: 1.6;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}
